<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Welocme</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<form id="idForm">
    <div class="form-group idForm">
        <label for="userID">User ID: </label>
        <input type="text" class="form-control"  id="userID" name="id" placeholder="UserID"/>
        <label for="count">Count of subscriptions: </label>
        <input type="text" class="form-control"  id="count"  name="count" placeholder="20"/>
    </div>
    <button type="submit" id="subm" class="btn btn-default ">Submit</button>
</form>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="resources/js/indexjs.js"></script>
</body>
</html>